/*Fonty*/
@font-face {
    font-family: PixeloidSans;
    src: url(fonts/PixeloidSans.woff);
  }
  @font-face {
    font-family: PixeloidSansBold;
    src: url(fonts/PixeloidSansBold.woff);
  }
  @font-face {
    font-family: PixelEmulator;
    src: url(fonts/PixelEmulator.woff);
  }
/*Classy a IDčka*/
html, body{
    background:rgb(27, 19, 27);
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

main{
    margin-left: auto;
    margin-right: auto;
}
aside{
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}
main.index{
    color:cornflowerblue;
}

/* Index page */
.navbar ul{
    display: block;
    list-style: none;
}
.navbar li{
    display: inline;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.navbar{
    font-family: PixelEmulator;
    color:aquamarine;
    font-size: 1.5em;
    border: dotted;
    border-color: blueviolet;
    background-color: rgb(29, 24, 39);
    min-height: 40px;
    height: 80px;
}
.navbar a:hover{
    color: rgb(75, 199, 182) ;
}
.intro{
    font-family: PixeloidSans;
    font-size: 1.2em;
    width: 80%;
}
.testaside{
    font-family: PixeloidSansBold;
    font-size: 1.2em;
}
.juan{
    font-family: PixeloidSans;
    font-size: 1.3em;
    color:aqua;
}

/* Blog */

.blog{
    font-family: PixeloidSans;
    color: rgb(107, 219, 182);
    font-size: 1.2em;
    width: 80%
}
.blog-aside{
    font-family: PixeloidSans;
    color: rgb(107, 219, 182);
    font-size: 1.2em;
    width: 30%;
}
.blogposts{
    color:rgb(67, 233, 255);
    width: 70%;
    padding-left: 15%;
}
.blogposts a:hover{
    color:rgb(25, 174, 194); 
}

/* Socials */
.socials{
    font-family: PixelEmulator;
    color: rgb(107, 219, 182);
    font-size: 1em;
    text-decoration: none;
}
.socials a{
    font-size: 1.3em;
}
.socials ul{
    list-style-type: none;
}
.socials a,.socials a:visited{
    color: rgb(107, 219, 182);
}
.socials a:hover{
    color:rgb(25, 174, 194); 
}


.contributors{
    color:aquamarine;
    font-family:PixeloidSansBold;
    font-weight:bold;
    width: 400px;
    margin: 0 auto;
    border: 1px ridge rgba(46, 70, 165, 0.415);
}
.contrib-info{
    color:rgb(43, 178, 135);
    font-family:PixelEmulator;
    font-weight: bold;
    margin-bottom: 20px;
    }

.seznam{
    list-style-type:none;
    padding: 0;
}
.frhr-info{
    color:honeydew;
    width:450px;
    margin-left: auto;
    margin-right: auto;
    overflow-y:hidden;
    overflow-x:hidden;
    font-family:PixeloidSans;
    font-size: 1.2em;
}
#satisfaction{
    color:honeydew;
    margin: 0 auto;
    font-family:PixeloidSansBold;
    font-size: 1.2em;
    margin: 450px 1px 1px 0px;
}
.eastrek{
    font-family: pixelemulator;
    color:#57a8eb;
    font-size: 1.5em;
    text-decoration: none;
}
a.eastrek:hover{color:red}
.contrib{
    color:rgb(92, 82, 230);
    font-family:PixeloidSansBold;
}
#con{
    text-decoration: underline;
    color:aqua;
    border:1px solid rgb(18, 18, 18);
    font-family:PixeloidSansBold;
    font-weight:bold;
    font-size: 1.2em;
}
a#con:hover{
    color:#246e96;
}
a.promo:hover{
    color:rgb(255, 0, 0);
}
a.main-title:hover{
    color:#69a9da;
}
a.web-title:hover{
    color: rgb(207, 55, 16);
}
a.blazing-title:hover{
    color:limegreen;
}
.main-title{
    font-family: pixelemulator;
    text-decoration: underline;
    color:#57a8eb;
    font-size: 1.5em;
}
a:visited{
    color: inherit;
}
.estrek{
    color:#1A1B1D;
    text-decoration: none;
    font-size:2em;
    visibility: hidden;
}
.whatisit{
    color:rgb(14, 212, 252);
    border: 2px ridge rgb(39, 39, 39);
    font-family: PixeloidSansBold;
}
#diki{
    color:rgb(43, 178, 135);
    font-family:PixelEmulator;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2em;
    text-decoration:underline;
}
.promo{
    text-decoration: none;
    border:1px solid rgb(18, 18, 18);
    color:darkred;
    font-family:PixeloidSansBold;
    font-size: 0.85em;
}
.promo .text{
    color:darkred;
    font-family:PixeloidSansBold;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px ridge rgb(39, 39, 39)
}
.web-title{
    color:rgb(207, 55, 16);
    font-family: PixelEmulator;
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration:underline
}
.selection{
    display:block;
    border: none;
    background-color: #1A1B1D;
    color: #1a1b1d;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    appearance: none;
    cursor: pointer;
    position: center;
    scale: 150%;
}

.blazing-title{
    font-family: PixelEmulator;
    font-size: 3em;
    text-decoration: underline;
    color:limegreen;
}
.description .title{
    font-family: PixeloidSansBold;
    color: rgb(42, 129, 42);
    font-size: 1.5em;
    border: 3px solid rgb(36, 36, 36);
}
.description{
    font-family: PixeloidSans;
    color: rgb(60, 211, 98);
}
a.description:hover{
    color:rgb(60, 211, 98)
}
a.description{
    border: 1px solid rgb(38, 192, 97)
}
img.gameicon{
    -webkit-filter: brightness(100%);
}
img:hover.gameicon{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:visited{
    color: inherit;
}