*{
    background-color:black
}
.contributors{
    color:aquamarine;
}
#contrib-info{
    color:chocolate;
}
h1{
    color:lightseagreen;
}
.basic-info{
    color:honeydew
}
.contrib{
    color:white;
}
