body{
    background-color:black
}
.contributors{
    color:aquamarine;
}
#contrib-info{
    color:chocolate;
}
h1{
    color:lightseagreen;
}
.basic-info{
    color:honeydew
}
.contrib{
    color:white;
}
.contrib-link{
    text-decoration: none;
    color:aqua;
}
a.contrib-link:hover{color:magenta}
.main-title{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}